{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block all_page_title %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% trans "Abo Startdatum" %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    {% vocabulary "subscription" as v_subscription %}
    <div class="offset-md-2 col-md-8">
        <div class="row mb-4">
            <div class="col-md-12">
                {% trans "Info" %}:
                {% blocktrans trimmed with sd=start_date|date:"d.m.Y" %}
                Normalerweise ist der {{ v_subscription }}-Start der Start eines Geschäftsjahres. Das nächste
                Startdatum wäre der <b>01.05.2023</b>.
                
                {% endblocktrans %}
            </div>
        </div>
        <form action="" method="post">
            
            <div id="start_date" class="form-group row">
               
                <div class="col-md-9">
                    
                </div>
            </div>
            <div class="form-actions row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-success">
                        {% trans "Weiter" %}
                    </button>
                    <a href="{% url 'cs-cancel' %}" class="btn">
                        {% trans "Abbrechen" %}
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}