{% extends "management_lists/man_list_base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% load juntagrico.common %}
{% load juntagrico.snippets %}

{% block page_title %}
    <h3>
        {{ title }}
    </h3>
{% endblock %}

{% block management_cmd %}
        {% include 'management_lists/snippets/email_sender.html' %}
{% endblock %}

{% block list %}

    <style>
        #filter-table_filter input {
            margin-top: 20px;
            margin-right: 10px;
        }
        #filter-table td:first-child, #filter-table th:first-child {
            padding-left: 5px;
        }
    </style>

    <div class="table-responsive">
        <table id="filter-table" class="table table-hover table-striped list table">
            <thead class="table-light">
            <tr>
                <th class="filter">{% trans "HauptbezieherIn " %}</th>
                <th class="filter">{% trans "Weitere BezieherInnen" %}</th>
                <th class="filter">{% vocabulary "depot" %}</th>
                <th width="150" class="filter">{% trans "Inhalt" %}</th>
                <th class="filter">{% trans "Aktivierungsdatum" %}</th>
                <th class="filter">{% trans "E-Mails" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>
                        {% impersonate_start request subscription.primary_member %}
                        <a href="{% url 'admin:juntagrico_member_change' subscription.primary_member.id %}">
                            {{ subscription.primary_member.get_name }}
                        </a>
                    </td>
                    <td>{{ subscription.other_recipients_names }}</td>
                    <td>{{ subscription.depot.name }}</td>
                    <td class="text-break" title="{{ subscription }}">
                        {{ subscription|truncatechars:50 }}
                    </td>
                    <td>{{ subscription.activation_date|date:"Y-m-d" }}</td>
                    <td class="email text-break">
                        {{ subscription.recipients_qs|values_list:'member__email'|join:', ' }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
