{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% block all_page_title %}
    {% vocabulary "member_type" as v_member_type %}
    <div class="page-title col-md-12">
        <h3>
            {% blocktrans %}Mitwirken auf dem Huebhof{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    <div class="col-md-12">
        {% config "enable_shares" as c_enable_shares %}
        {% config "business_regulations" as c_business_regulations %}
        {% config "gdpr_info" as c_gdpr_info %}
        {% config "share_price" as c_share_price %}
        {% enriched_organisation "D" as v_d_enriched_organisation %}
        {% vocabulary "share" as v_share %}
        {% vocabulary "share_pl" as v_share_pl %}
        {% vocabulary "subscription" as v_subscription %}
        {% vocabulary "member_type" as v_member_type %}
        {% vocabulary "member_type_pl" as v_member_type_pl %}
        
        {% if c_enable_shares %}
            <div class="row mb-3">
                <div class="col-md-12">
                    Die Mitgliedschaft beim Verein {% enriched_organisation "D" %} ist geknüpft an den Erwerb von mindestens einem Anteilschein in der Höhe von
                    CHF 250. Mit dem Überweisen des Betrags zur Deckung des Anteilscheins werden die Vereinsstatuten und das Betriebsreglement durch das Mitglied anerkannt.
                    Um Lebensmittel von der Huebhof GmbH beziehen zu können, muss mindestens ein Anteilschein gezeichnet werden. 
                </div>
            </div>
        {% endif %}
        <div class="row mb-3">
            <div class="col-md-12">
                {% blocktrans trimmed %}
                Herzlich willkommen bei der solidarischen Landwirtschaft (Solawi) auf dem Huebhof. Die Solawi bezweckt, Produzierende und Konsumierende auf dem Huebhof zusammen zu bringen. Der Grundgedanke beinhaltet ein Jahresabo für einen Ernteanteil und Mitwirkung bei der Produktion und im Betrieb.  
                {% endblocktrans %}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                {% blocktrans trimmed %}
                Bevor du dich für einen Ernteanteil anmeldest, lies bitte folgendes durch:
                {% endblocktrans %} :
                <ul>
                    <li>
                        <a target="_blank" href="{% config "extra_sub_info"|safe %}">
                            {% trans "Abovertrag für einen Ernteanteil der Solawi auf dem Huebhof" %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <form action="" method="post">
                    {#% crispy form %#}
                    {{ form.documents|as_crispy_field }}
                    <input type="submit" name="submit" value="Anmelden" class="btn btn-primary btn-success" id="submit-id-submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}