.juntagrico-logo {
    /* uncomment the next line and add your logo in the img folder */
    background: url(/static/huebhof/img/logo.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}

.h5,h5 {
    font-size: 1rem;
    font-weight: bold;
}
.offset-md-3 col-md-9 {
    visibility: hidden;
}
.offset-md-3 col-md-9:after {
    visibility: visible;
    content: "TEST";
}

/* img[src="/static/juntagrico/img/single_empty.png"] {

      content: url("/static/huebhof/img/karotte_klein.png");

}*/
