.juntagrico-logo {
    /* uncomment the next line and add your logo in the img folder */
    background: url(/static/huebhof/img/logo.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}

.h5,h5 {
    font-size: 1rem;
    font-weight: bold;
}

.assignments {
    src: url(/static/huebhof/img/karotte.png);
}
